<div id="<%= dom_id contato %>">
  <p>
    <strong>Nome:</strong>
    <%= contato.nome %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= contato.endereco %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= contato.telefone %>
  </p>

</div>
